.search-container {
    background-color: rgba(0, 0, 0, 0.863);
    text-align: center;
    line-height: 60px;
}

.search-container input {
  width: 75%;
  padding: 5px;
  border-radius: 10px;
}

.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container{
   border-right: 1px solid lightgray; 
   margin-right: 5px;
   margin-left: 60px;
}

.cart-container{
 margin: 5px;
}

